* {
  margin: 0;
  padding: 0;
  
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  margin: 30px;
 
}
p {
 margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  Padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

  
.chicken  {
  border: 1px solid black;
  width:30%;
  padding: 5px;
  box-sizing: border-box;
  float: right;
  font-size: 120%;
  text-align: center;
  background-color:pink;
 
}
 
  .beef {
  border: 1px solid black;
  width:30%;
  padding: 5px;
  box-sizing: border-box;
  float: right;
  font-size: 120%;
  background-color:rgb(233, 54, 84);
  text-align: center;
}
.sushi{
  border: 1px solid black;
  width:30%;
  padding: 5px;
  box-sizing: border-box;
  float: right;
  font-size: 120%;
  background-color:rgb(199, 236, 34);
  text-align: center;
}

.row {
  width: 100%;
}

.col-md-4 {
    float: left;
    border: 2px solid black;
    width: 30%;
    margin: 12px;
    background-color: rgb(161, 157, 157);
     }

  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .col-md-4 {
      
      width: 44%;
     
  }
}
  @media screen and (max-width: 767px){
    .col-md-4 {
       width: 100%;
     
  }
  }